<style type="text/css">
	.chat-content{
		background: var(--main-background-color);
	}
	.chat-main{
		position: fixed;
		width: 270px;
		bottom: 0;
		right: 200px;
	}
	.chat-header{
		background: #4267B2;
		padding-top: 1px;
		padding-bottom: 1px;
	}
	.username i{
		font-size: 9px;
	}
	.username h6{
		display: inline-block;
		font-size: 12px;
		font-weight: 600;
	}
	.options i{
		font-size: 14px;
	    font-weight: normal;
	    opacity: 0.7;
	}
	.options .live-video{
		font-size: 6px;
	}
	.chats{
		height: 260px;
		overflow-x: scroll;
		overflow-x: hidden;
	}
	.chats ul li{
		list-style: none;
		clear: both;
		font-size: 13px;
	}
	.chats .send-msg{
		float: right;
	}
	.receive-msg img{
		border-radius: 100%;
		height: 30px;
		width: 12%;
	}
	.receive-msg-img{
		display: inline;
	}
	.receive-msg .receive-msg-desc{
		display: inline-block;
	}
	.receive-msg .receive-msg-desc p{
		background: #d1d1d1;
	}
	.message-box input{
		border: none;
		font-size: 13px;
		opacity: 0.7;
	}
	.message-box input:focus{
		outline: none;
	}
	.chat-footer{
		height: 10px;
	}
	.input-text {
		height: 30px;
	}
	.profile-image-small{
		width: 25px;
		height: 25px;
		margin-top: 0px;
		margin-right: 5px;
	}
</style>


<div class="container">
	<div class="row pt-3">
		<div class="chat-main">
			<div class="col-md-12 chat-header rounded-top bg-primary text-white">
				<div class="row">
					<div class="col-md-6 username pl-2">
						<h6 class="m-0">Mitch Tabian</h6>
					</div>
					<div class="col-md-6 options text-right pr-2">
						<i class="fa fa-times hide-chat-box" id="id_hiden_chat_box" aria-hidden="true"></i>
					</div>
				</div>
			</div>
			<div class="chat-content" id="id_chat_content">
				<div class="col-md-12 chats border">
					<ul class="p-0">
						<li class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1">
							hiii
						</li>
						<li class="d-flex flex-row p-1 rounded mb-1">
							<img class="profile-image-small rounded-circle img-fluid" src="http://nicesnippets.com/demo/image1.jpg">
							<div class="receive-msg">
								<div class="receive-msg-desc  text-center ml-1 pl-2 pr-2">
									<p class="pl-2 pr-2 rounded">hello</p>
								</div>
							</div>
						</li>
						<li class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1">
							how are you ???
						</li>
						<li class="d-flex flex-row p-1 rounded mb-1">
							<img class="profile-image-small rounded-circle img-fluid" src="http://nicesnippets.com/demo/image1.jpg">
							<div class="receive-msg">
								<div class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2">
									<p class="mb-1 pl-2 pr-2 rounded">I'm fine !!!</p>
									<p class="pl-2 pr-2 rounded">Where are you ?</p>
								</div>
							</div>
						</li>
						<li class="mb-1 pl-2 pr-2 bg-primary text-white text-center send-msg rounded">
							at california
						</li>
						<li class="mb-1 pl-2 pr-2 bg-primary text-white text-center send-msg mb-1 rounded">
							and where are you ?
						</li>
						<li class="d-flex flex-row p-1 rounded mb-1">
							<img class="profile-image-small rounded-circle img-fluid" src="http://nicesnippets.com/demo/image1.jpg">
							<div class="receive-msg">
								<div class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2">
									<p class="pl-2 pr-2 mb-1 rounded">now i'm at new york city ggfdg fdgfdg fg dfgdfg fdgd hfgh fghgf hfg</p>
								</div>
							</div>
						</li>
						<li class="pl-2 pr-2 mb-1 bg-primary rounded text-white text-center send-msg mb-1">Ok</li>
					</ul>
				</div>
				<div class="col-md-12 message-box border p-0 border-top-0">
					<input type="text" class="input-text pl-0 pr-0 w-100" placeholder="Type a message..." />
					<!-- <div class="col-md-12 chat-footer bg-secondary"></div> -->
				</div>
			</div>
		</div>
	</div>
</div>