{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">
	#id_checkbox_errors{
		display:none;
		color: red;
	}
</style>

<div class="container">
	<div class="d-flex flex-column">
		<h1>Chat rooms</h1>
		<hr>
		{% for room in rooms %}
			<p><a href="{% url 'chat:room' room_id=room.id %}">{{room.title}}</a></p>
		{% endfor %}
	</div>

	{% if request.user.is_staff%}
	<div class="d-flex flex-row">
		<button type="button" id="id_trigger_create_room_modal" class=" btn btn-primary" data-toggle="modal" data-target="#id_create_room_modal">Create room
		</button>
	</div>
	{% endif %}

</div>


<!-- New Room MODAL -->

<div class="modal fade" id="id_create_room_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a Room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="id_create_room_form">{% csrf_token %}
		<div class="modal-body">
			<div class="form-group">
				<label for="id_new_room_title">Room Title</label>
				<input type="text" class="form-control" placeholder="Enter title" id="id_new_room_title" name="new_room_title" required="true">
			</div>
			<div class="form-group" >
				<div class="checkbox">
				<label>
					<input type="checkbox" id="id_authorization_public" name="authorization_public" checked>
					Public
				</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" id="id_authorization_staff_only" name="authorization_staff_only">
					Staff Only
				</label>
				</div>

			</div>
			<div class="form-group">
				<p id="id_checkbox_errors">You must choose at least one option.</p>
			</div>
		</div>
		<div class="modal-footer">
			<input class="btn btn-primary" value="Create" onclick="confirmRoomCreateCheckbox()">
			<input type="submit"  class="d-none" id="id_submit_new_room_form">
			<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="onCancelCreateRoomModal()">Cancel</button>
		</div>
      </form>
    </div>
  </div>
</div>
<!-- END New room MODAL -->

<script type="text/javascript">

	addCheckboxListeners()

	function uncheckPublic(){
		console.log("toggleRoomCheckbox")
		public = document.getElementById("id_authorization_public")
		public.checked = false
	}

	function uncheckStaff(){
		staff = document.getElementById("id_authorization_staff_only")
		staff.checked = false
	}


	function addCheckboxListeners(){
		document.getElementById("id_authorization_public").addEventListener("click", function(){
				uncheckStaff()
		})
		document.getElementById("id_authorization_staff_only").addEventListener("click", function(){
				uncheckPublic()
		})
	}
	
	function confirmRoomCreateCheckbox(){
		checkbox1 = document.getElementById("id_authorization_public")
		checkbox2 = document.getElementById("id_authorization_staff_only")
		if(checkbox1.checked || checkbox2.checked){
			document.getElementById("id_submit_new_room_form").click()
		}
		else{
			document.getElementById("id_checkbox_errors").style.display = "block"
		}
	}

	function onCancelCreateRoomModal(){
		document.getElementById("id_checkbox_errors").style.display = "none"
	}
</script>

{% endblock content %}