{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: #737373;
	}
</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card profile-card">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		<div class="image-container mx-auto mb-4">
		  			<img class="border border-dark rounded-circle img-fluid mx-auto d-block profile-image" src="{% static 'codingwithmitch/logo_1080_1080.png' %}" alt="codingwithmitch logo">
		  		</div>
		  		<h6 class="mt-4 field-heading">Email</h6>
		  		<h5>{{email}}</h5>
		  		<h6 class="mt-4 field-heading">Username</h6>
		  		<h5>{{username}}</h5>

		  		{% if request.user.email == email %}
		  		<a  class="mt-4 btn btn-primary" href="{% url 'account:edit_account' username=username %}">Update</a>
				<div class="d-flex flex-column mt-4">
					<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
				</div>
		  		{% endif %}
		  	</div>
		  </div>
		</div>
	</div>
</div>







{% endblock content %}


