{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: #737373;
	}
</style>

<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="card profile-card">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		<div class="image-container mx-auto mb-4">
		  			<img class="border border-dark rounded-circle img-fluid mx-auto d-block profile-image" src="{{profile_image.url}}" alt="codingwithmitch logo">
		  		</div>
		  		<h6 class="mt-4 field-heading">Email</h6>
		  		{%  if email == request.user.email %}
		  			<h5>{{email}}</h5>
		  		{% else %}
		  			{% if hide_email %}
			  			<h5>**********</h5>
			  		{% else %}
			  			<h5>{{email}}</h5>
			  		{% endif %}
			  	{% endif %}
		  		<h6 class="mt-4 field-heading">Username</h6>
		  		<h5>{{username}}</h5>
		  		{% if request.user.email == email %}
		  		<a  class="mt-4 btn btn-primary" href="{% url 'account:edit' username=username %}">Update</a>
				<div class="d-flex flex-column mt-4">
					<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
				</div>
		  		{% endif %}
		  	</div>
		  </div>
		</div>
	</div>



	<div class="d-flex flex-row">
		<div>
			{% if request.user.id == id %}
				{% for friend in friends %}
					<p><a href="{% url 'account:view' username=friend.username %}">{{friend}}</a></p>
				{% endfor %}
			{% endif %}
		</div>
		<div>
			{% if display_friend_request_btn %}
				{% if is_friend_request_pending %}
					<button class="btn btn-danger" id="id_cancel_friend_request_btn">
						Cancel Friend Request
					</button>
				{% else %}
					<button class="btn btn-primary" id="id_send_friend_request_btn">
						Send Friend Request
					</button>
				{% endif %}
			{% else %}
				{% if display_unfriend_btn %}
					<button class="btn btn-warning" id="id_unfriend_btn">
						Remove Friend
					</button>
				{% endif %}
			{% endif %}
			
		</div>
		
	</div>
	
</div>

<script type="text/javascript">

	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			cancelFriendRequest("{{id}}", onFriendRequestCancelled)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{id}}", onFriendRemoved)
		})
	}
	
</script>

{% include 'snippets/send_friend_request.html' %}
{% include 'snippets/cancel_friend_request.html' %}
{% include 'snippets/remove_friend.html' %}



{% endblock content %}






















